.container.images {
    display: flex;
    justify-content: space-evenly;
}

.container.images img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container.gallery {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    grid-gap: 0.5em;
}

.container.gallery img {
    border: 1px solid #eaecef;
    max-width: 330px;
    max-height: 180px;
    object-fit: cover;
    overflow: clip;
    margin-bottom: 0.5em;
}

.container.gallery figcaption {
    font-size: 0.8em;
}

.container.gallery figcaption p {
    margin: 0
}